.button_edge{
	display: inline-block;
	cursor: pointer;
	border: 1px solid rgba(0,0,200,0.6);
	color: rgba(0,0,200,0.6);
	border-radius: 10px;
	padding: 10px 10px;
}

.url_button{
	display: inline-block;
	cursor: pointer;
	border: 1px solid #222222;
	color: #0066FF;
	font-size: 18px;
	border-radius: 10px;
	padding: 10px 10px;
	background:#ff99bb;
}

.clear_button{
	background: #999999
}

.data_title{
	transform: translate(20px, 0px);
	font-size: 25px;
	color:rgb(19, 112, 47);
}

.data_time{
	transform: translate(20px, 0px);
	font-size: 18px;
}

.ajaxshow{
	width: 100%;
	height: 80%;
	overflow: visible;
}

.data_block{
	position: top;
	transform: translate(20px, 0px);
	display: inline-table;
	background: orange;
	border: 2px solid #FFFFFF;
}

.data_block_aqi{
	width: 250px;
	height: 315px;
}

.data_block_36h{
	width: 315px;
	height: 180px;
}

.data_block_now_weather{
	width: 200px;
	height: 100px;
}

h5{
	font-size: 20px;
	margin-top: 0em;
  	margin-bottom: 0.15em;
}